
/* Your CSS Code here. */
.holder {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}

.grid-item {
    border: 2px solid mediumvioletred;
    padding: 10px;
}